<form name="form" [formGroup]="shipmentCaptureForm" class="shipment-capture-form">
    <p-tabView>
        <p-tabPanel header="{{'SHIPMENT_CAPTURE_COMPONENT-PANEL_SENDER_RECEIVER_ADDRESS' | translate}}">
            <p-panel header="{{'SHIPMENT_CAPTURE_COMPONENT-PANEL_SENDER_RECEIVER_ADDRESS' | translate}}">
                <div class="ui-g ui-fluid">
                    <!-- Zeile 1 -->
                    <div class="ui-g-3">
                        <label><b>Absender</b></label>
                    </div>
                    <div class="ui-g-1">
                    </div>

                    <div class="ui-g-2">
                    </div>

                    <div class="ui-g-3">
                        <label>{{'SHIPMENT-RESOURCE_SENDER' | translate}}</label>
                    </div>
                    <div class="ui-g-1">
                    </div>

                    <div class="ui-g-2">
                    </div>
                    <!-- Zeile 2 -->
                    <div class="ui-g-3">
                        <p-autoComplete formControlName="sender"
                                        field="name"
                                        [suggestions]="customerSuggestions"
                                        (completeMethod)="loadUserSuggestions($event)"
                                        (onSelect)="onSenderSelected($event)">
                        </p-autoComplete>
                    </div>
                    <div class="ui-g-1">
                        <button pButton type="button" (click)="createNewCustomer()" label="Neu"></button>
                    </div>
                    <div class="ui-g-2">
                    </div>
                    <div class="ui-g-3">
                        <p-autoComplete formControlName="receiver"
                                        field="name"
                                        [suggestions]="customerSuggestions"
                                        (completeMethod)="loadUserSuggestions($event)"
                                        (onSelect)="onReceiverSelected($event)">
                        </p-autoComplete>
                    </div>
                    <div class="ui-g-1">
                        <button pButton type="button" (click)="createNewCustomer()" label="Neu"></button>
                    </div>
                    <div class="ui-g-2">
                    </div>

                    <div class="ui-g-12">

                    </div>

                    <!-- Zeile 3 -->
                    <div class="ui-g-4">
                        <label><b>Absenderadresse</b></label>
                    </div>
                    <div class="ui-g-2">
                    </div>
                    <div class="ui-g-4">
                        <label><b>Empfaengeradresse</b></label>
                    </div>
                    <div class="ui-g-2">
                    </div>

                    <!-- Zeile 4 -->
                    <div class="ui-g-1">
                        <label>Straße / Nr.</label>
                    </div>

                    <div class="ui-g-2">
                        <input  pInputText
                                [(ngModel)]="senderStreet"
                                [ngModelOptions]="{standalone: true}"
                                id="shipment-capture-component_sender-street"
                        >
                    </div>

                    <div class="ui-g-1">
                        <input  pInputText
                                id="shipment-capture-component_sender-street_number"
                                [ngModel]="senderStreetNo"
                                [ngModelOptions]="{standalone: true}"
                        >
                    </div>
                    <div class="ui-g-2">
                    </div>
                    <div class="ui-g-1">
                        <label>Straße / Nr.</label>
                    </div>

                    <div class="ui-g-2">
                        <input  pInputText
                                [ngModel]="receiverStreet"
                                [ngModelOptions]="{standalone: true}"
                                id="shipment-capture-component_receiver-street"
                        >
                    </div>
                    <div class="ui-g-1">
                        <input  pInputText
                                id="shipment-capture-component_receiver-street_number"
                                [ngModel]="receiverStreetNo"
                                [ngModelOptions]="{standalone: true}"
                        >
                    </div>
                    <div class="ui-g-2">
                    </div>

                    <!-- Zeile 5 -->
                    <div class="ui-g-1">
                        <label>Plz/Stadt:</label>
                    </div>
                    <div class="ui-g-1">
                        <input  pInputText
                                [ngModel]="senderZipCode"
                                [ngModelOptions]="{standalone: true}"
                                id="shipment-capture-component_sender-zipcode"
                        >
                    </div>
                    <div class="ui-g-2">
                        <input  pInputText
                                [ngModel]="senderCity"
                                [ngModelOptions]="{standalone: true}"
                                id="shipment-capture-component_sender-city"
                        >
                    </div>

                    <div class="ui-g-2">
                    </div>

                    <div class="ui-g-1">
                        <label>Plz/Stadt:</label>
                    </div>
                    <div class="ui-g-1">
                        <input  pInputText
                                [ngModel]="receiverZipCode"
                                [ngModelOptions]="{standalone: true}"
                                id="shipment-capture-component_receiver-zipcode"
                        >
                    </div>
                    <div class="ui-g-2">
                        <input  pInputText
                                [ngModel]="receiverCity"
                                [ngModelOptions]="{standalone: true}"
                                id="shipment-capture-component_receiver-city"
                        >
                    </div>

                    <div class="ui-g-2">
                    </div>
                </div>
            </p-panel>
        </p-tabPanel>
        <p-tabPanel header="Tab 2">
        </p-tabPanel>
        <p-tabPanel header="Tab 3">
        </p-tabPanel>
    </p-tabView>

    <div class="ui-g ui-fluid">
        <div class="ui-g-8">
        </div>
        <div class="ui-g-2">
            <button pButton type="button" (click)="clickCancel()" label="Cancel"></button>
        </div>
        <div class="ui-g-2">
            <button pButton type="button" (click)="clickSubmit()" label="Submit"></button>
        </div>
    </div>

</form>
